In [1]:
# The line below sets the environment
# variable CUDA_VISIBLE_DEVICES
get_ipython().magic('env CUDA_VISIBLE_DEVICES =  ')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import multiprocessing as mp      # will come in handy due to the size of the data
import os.path
import random
import time
import scipy
from collections import OrderedDict
import io
from datetime import datetime
import gc # garbage collector
import sklearn
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
import math
import sys
from collections import defaultdict
import re
import logging
from sklearn.model_selection import KFold
from xgboost.sklearn import XGBClassifier
from sklearn import cross_validation, metrics   #Additional scklearn functions
from sklearn.grid_search import GridSearchCV   #Perforing grid search

# This is a bit of magic to make matplotlib figures appear inline in the notebook
# rather than in a new window.
get_ipython().magic('matplotlib inline')
plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

# Some more magic so that the notebook will reload external python modules;
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
get_ipython().magic('load_ext autoreload')
get_ipython().magic('autoreload 2')

env: CUDA_VISIBLE_DEVICES=

/home/kapok/pyenv35/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/kapok/pyenv35/lib/python3.5/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [31]:
RAW_INPUT_PATH = '/media/rs/0E06CD1706CD0127/Kapok/kaggle/pytorch/cdiscount/logs_resnet_test/raw_input.csv'
MEDIAN_INPUT_PATH = '/media/rs/0E06CD1706CD0127/Kapok/kaggle/pytorch/cdiscount/logs_resnet_test/median_input.csv'
MEAN_INPUT_PATH = '/media/rs/0E06CD1706CD0127/Kapok/kaggle/pytorch/cdiscount/logs_resnet_test/Resnet_pytorch_state_438453_2017-12-14_06_43_50.pth'

In [3]:
# raw_pred = pd.read_csv(MEDIAN_INPUT_PATH)#, names = ["_id", "category_id"])

In [4]:
# raw_pred.iloc[[1767852],[0]] = 23597750
# print(raw_pred['_id'][1767852])
# raw_pred.to_csv('/media/rs/0E06CD1706CD0127/Kapok/kaggle/pytorch/cdiscount/logs_resnet_test/result_ok.csv',index=False)

In [43]:
raw_pred = pd.read_csv(RAW_INPUT_PATH)#[-1000:]#, names = ["_id", "category_id"]
median_pred = pd.read_csv(MEDIAN_INPUT_PATH)

In [44]:
raw_pred.columns = ['_id', 'category_id']

In [46]:
mode_pred = raw_pred.groupby(['_id'])['category_id'].agg(lambda x: scipy.stats.mode(x)[0])
mode_count = raw_pred.groupby(['_id'])['category_id'].agg(lambda x: scipy.stats.mode(x)[1])

In [8]:
mode_pred = mode_pred.reset_index(drop=False)
mode_count = mode_count.reset_index(drop=False)
mode_count.columns = ['_id', 'mode_count']
mode_pred['mode_count'] = mode_count['mode_count']

In [22]:
bal = median_pred[1769675:]
median_pred = median_pred[:1769675]
mode_pred = mode_pred[:1768182]

In [25]:
median_pred['mask'] = (median_pred['category_id']!=mode_pred['category_id'])&(mode_pred['mode_count']>1)
#median_pred['mask'] = (median_pred['_id']!=mode_pred['_id'])
median_pred['another'] = mode_pred['category_id']
median_pred['mask'] = median_pred['mask'].astype(int)

/home/kapok/pyenv35/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/kapok/pyenv35/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/kapok/pyenv35/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [47]:
raw_pred

             _id  category_id
3095576  1560005   1000004061
3095577  1575121   1000010647
3095578  1561277   1000015224
3095579  1527133   1000010647
3095580  1574195   1000015309
3095581  1561825   1000018480
3095582  1578692   1000005842
3095583  1570060   1000001859
3095584  1619014   1000010726
3095585  1582850   1000016488
3095586  1613641   1000021535
3095587  1614055   1000018742
3095588  1601975   1000019772
3095589  1624766   1000008958
3095590  1611536   1000001853
3095591  1602102   1000010001
3095592  1609807   1000008925
3095593  1585142   1000015309
3095594  1613452   1000010961
3095595  1604441   1000010170
3095596  1666122   1000018296
3095597  1668132   1000005346
3095598  1639515   1000004184
3095599  1622995   1000010393
3095600  1640476   1000017834
3095601  1667898   1000010393
3095602  1665779   1000004307
3095603  1660457   1000010547
3095604  1667114   1000010663
3095605  1666313   1000008782
...          ...          ...
3096546  5906502   1000008770
3096547  5915553   1000004169
3096548  5893698   1000014204
3096549  5906456   1000010589
3096550  5906257   1000011349
3096551  5914876   1000006002
3096552  5915796   1000016670
3096553  5911425   1000014199
3096554  5880514   1000002361
3096555  5916339   1000014102
3096556  5887799   1000006002
3096557  5965342   1000018734
3096558  5932734   1000014008
3096559  5967024   1000010128
3096560  5978522   1000008772
3096561  5936983   1000009993
3096562  5974787   1000010551
3096563  5971470   1000005966
3096564  5960143   1000010128
3096565  5962132   1000008952
3096566  5978331   1000002800
3096567  5945064   1000004095
3096568  6028803   1000014115
3096569  5995277   1000018029
3096570  6021682   1000008770
3096571  6034400   1000005848
3096572  6030070   1000005509
3096573  6031744   1000012291
3096574  6039385   1000003974
3096575  6035950   1000001898

[1000 rows x 2 columns]

In [29]:
median_pred

              _id  category_id  mask     another
0              10   1000005605     0  1000005605
1              27   1000022508     1  1000010653
2              67   1000005986     1  1000010653
3              94   1000004079     1  1000002194
4             115   1000002786     1  1000022508
5             141   1000004079     1  1000010653
6             165   1000010653     1  1000010667
7             196   1000010653     1  1000011448
8             210   1000014026     1  1000005986
9             231   1000016662     1  1000014215
10            254   1000005874     1  1000002758
11            272   1000014245     1  1000010653
12            285   1000012509     1  1000004079
13            298   1000005926     1  1000014561
14            326   1000010653     1  1000010653
15            338   1000010653     1  1000016230
16            353   1000006016     1  1000002786
17            365   1000010667     1  1000015767
18            370   1000010653     1  1000004079
19            386   1000010667     1  1000002902
20            402   1000002194     1  1000004079
21            421   1000014154     1  1000014047
22            425   1000010653     1  1000014204
23            441   1000014311     1  1000018487
24            456   1000010667     1  1000010653
25            483   1000001840     1  1000010608
26            488   1000004141     1  1000014202
27            499   1000011046     1  1000004067
28            512   1000005414     1  1000010653
29            525   1000010667     1  1000004085
...           ...          ...   ...         ...
1768152  23616935   1000010001     1  1000010683
1768153  23617097   1000014202     1  1000014156
1768154  23617166   1000018296     1  1000010675
1768155  23617216   1000010126     1  1000015912
1768156  23617315   1000005599     1  1000018296
1768157  23617417   1000010677     1  1000002194
1768158  23617484   1000011349     1  1000014287
1768159  23617558   1000018296     1  1000005328
1768160  23617676   1000003974     1  1000012399
1768161  23617845   1000010090     1  1000014026
1768162  23617995   1000005848     1  1000018451
1768163  23618162   1000018166     1  1000019164
1768164  23618232   1000003796     1  1000003813
1768165  23618366   1000016272     1  1000010100
1768166  23618515   1000018296     1  1000006018
1768167  23618610   1000014202     1  1000002431
1768168  23618678   1000020845     1  1000014907
1768169  23618753   1000010836     1  1000015190
1768170  23618800   1000015912     1  1000008782
1768171  23618986   1000014285     1  1000003464
1768172  23619172   1000010551     1  1000015912
1768173  23619258   1000010538     1  1000018707
1768174  23619428   1000001256     1  1000015834
1768175  23619555   1000018282     1  1000010645
1768176  23619623   1000018290     1  1000012332
1768177  23619792   1000003787     1  1000010608
1768178  23619873   1000014224     1  1000012991
1768179  23619968   1000010049     1  1000014488
1768180  23620195   1000017067     1  1000018296
1768181  23620240   1000008852     1  1000008941

[1768182 rows x 4 columns]

In [18]:
print(len(median_pred['category_id']),len(mode_pred['category_id']))

1768182 1769675

In [ ]:
median_pred['real_pred'] = median_pred['category_id']*(1-median_pred['mask']) + median_pred['another']*median_pred['mask']

In [ ]:
to_save = median_pred[['_id', 'real_pred']]
to_save.columns = ['_id', 'category_id']

In [ ]:
to_save.to_csv('/media/rs/0E06CD1706CD0127/Kapok/kaggle/pytorch/cdiscount/logs_resnet_test/sub.csv', index=False, sep=',')

In [ ]:
(median_pred['category_id']!=mode_pred['category_id'])

In [ ]:
median_pred = median_pred[1:]
median_pred = median_pred.reset_index(drop=True)